PORT=your-assigned-port
HOST=127.0.0.1
STUDENT_NAME=Your Name
PUBLIC_API_URL=https://bender.cs.csubak.edu/your-public-api-url/

DB_HOST=127.0.0.1
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_nameggit 